@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #ffffff;
}
.container-main {
  max-width: 1366px;
  margin: 0 auto;
  background-image: url(../img/background1.jpg);
  background-size: cover;
}
.container-content {
  margin: 0 auto;
  max-width: 1027px;
}
.container-logo {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 51px;
}
.header-logo {
  width: 180px;
  height: 51px;
}
.header-logo-img {
  width: 85px;
  height: 49px;
  background-image: url(../img/logo_white.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.header-logo-link:hover span {
  color: #f26522;
}
.header-logo-link:hover .header-logo-img {
  background-image: url(../img/logo_red.png);
}
.header-logo-link {
  display: flex;
  text-decoration: none;
}
.header-logo-text {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
  color: #ffffff;
  padding-top: 6px;
}
.header-span-milan {
  font-size: 29px;
  font-weight: 700;
  line-height: 29px;
}
.header-span-holydays {
  font-size: 18px;
  line-height: 18px;
  text-align: left;
}
.header-logo-contact {
  text-align: right;
  display: inline-block;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
.mail-link,
.phone-link,
.box-link {
  text-decoration: none;
  color: #ffffff;
}

.mail-link:hover p {
  color: #f26522;
}
.phone-link:hover p {
  color: #f26522;
}
.content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 26px;
}
.box {
  width: 300px;
}
.box-item-img,
.box-item-text {
  display: block;
}

.box-item-text {
  width: 300px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 37px;
  text-decoration: none;
}
.box-item-img {
  width: 300px;
  height: 220px;
  padding-right: 2px;
  padding-left: 2px;
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
}

.box-link-img {
  width: 300px;
  height: 220px;
  object-fit: cover;
}
.box-shopping-tours,
.box-sightseeing-tours,
.box-bars-nightlife,
.box-art-architecture {
  margin-right: 63px;
}

.box-hover {
  width: 300px;
  height: 55px;
  position: absolute;
  background-color: #f26522;
  top: 165px;
  left: 2px;
  align-items: baseline;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  opacity: 0;
}
.box {
  position: relative;
}
.hover-from {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 1;
  grid-column-end: 3;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  margin-top: 7px;
  margin-left: 16px;
}
.hover-price {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 2;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 12px;
  margin-left: 16px;
}
.hover-detailes {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  margin-left: 36px;
  margin-bottom: 12px;
}
.box:hover .box-hover {
  opacity: 1;
}
.hover-detailes::after {
  content: ">";
  margin-left: 16px;
}
.footer {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-top: 49px;
  padding-bottom: 15px;
}
.Copyright {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}
