@import "./mixins";

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: #000000, $alpha: 0.5);
  @include flex(center, center, row);
}

.button {
  border-style: none;
  border-radius: 5px;
  color: cornsilk;
  padding: 5px;
}
.header {
  @include flex(center, center, row);
  margin: 50px;
  &__button {
    padding: 15px;
    margin: 20px;
    width: 200px;
  }
}

.modal {
  width: 45%;
  border-radius: 5px;
  background-color: #fff;
  position: absolute;
  &__header {
    width: 100%;
    @include flex(space-around, center, row);
  }
  &__title {
    color: cornsilk;
    text-align: center;
  }
  &__closeButton {
    border-style: none;
    background-color: unset;
    color: cornsilk;
    font-size: 25px;
  }
  &__text {
    color: cornsilk;
    padding: 20px;
    text-align: center;
  }
  &__buttons {
    @include flex(center, center, row);
  }
  &__button {
    margin: 20px;
    width: 70px;
  }
}
