@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  color: burlywood;
  font-size: 22px;
  font-weight: 700;
  line-height: 72px;
}
.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  background-size: cover;
}
.box-content {
  width: 600px;
  height: 400px;
  background: rgb(17, 13, 13);
  perspective: 300px;
  overflow: hidden;
  perspective-origin: 50% 100%;
}

.content {
  width: 450px;
  height: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  text-align: justify;
  margin: 100px auto 0;
  transform: rotateY(0deg) rotateZ(0deg) rotatex(40deg) translateY(200px);
  animation-name: runaway-text;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.content:hover {
  animation-play-state: paused;
}
@keyframes runaway-text {
  0% {
    transform: rotateY(0deg) rotateZ(0deg) rotatex(40deg) translateY(200px);
  }
  100% {
    transform: rotateY(0deg) rotateZ(0deg) rotatex(30deg) translateY(-700px);
  }
}
