.container-slider {
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.images-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.controls {
  width: 400px;
  display: flex;
  justify-content: space-around;
}

.image-to-show.active {
  width: 400px;
  height: 400px;
  display: block;
}

.image-to-show {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: none;
}

.not-active {
  background-color: red;
  border-radius: 6px;
}
