@import "./fonts";
@import "./topmenu";
@import "./header";
@import "./posts";
@import "./footer";

.container {
  max-width: 100%;
  padding: 0 25px;

  @media screen and (min-width: 768px) {
    max-width: 690px;
    margin: 0 auto;
    padding: unset;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    margin: 0 auto;
    padding: unset;
  }
}

.resp-img {
  max-width: 100%;
  height: auto;
}
