.mainbox {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  margin: 20px auto;
  width: 300px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  border: 2px solid grey;
  border-radius: 6px;
}

.box_title {
  font-size: 28px;
  text-align: center;
}

.box_input {
  background-color: red;
  border-radius: 4px;
  height: 35px;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}
.auctual_price {
  color: white;
}
.input {
  width: 120px;
  height: 15px;
  font-size: 18px;
  padding: 4px 10px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}
::placeholder {
  color: white;
}
.no_focus {
  color: green;
}
.holder_Up,
.holder_Down {
  width: 100%;
  min-height: 35px;
  display: flex;
  flex-direction: column;
}

.box_del {
  width: 21px;
  height: 21px;
  border-radius: 10px;
  font-size: 10px;
  margin-right: 5px;
}

.input:focus {
  border: 1px solid green;
  border-radius: 4px;
}
.arror {
  border: 1px solid rgb(147, 28, 28);
  border-radius: 4px;
}

.box_item_inner {
  border: 1px solid grey;
  border-radius: 16px;
  width: 80%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin: 3px auto;
}
.box_text {
  padding-left: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
}
