@import "./mixins";
@import "./variables";
@import "./buttons";

.container_about_fork {
  background-image: url(./img/bg_aboutfork.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.about-fork {
  &__title {
    padding: 2.85rem 0.5rem 2.65rem 0.5rem;
    font-size: 2.25em; //*36px;
    line-height: 1.33em; //*48px;
    color: $tc-light;

    @media screen and (min-width: 450px) {
      padding-right: 1rem; //* 18px;
      padding-left: 1rem; //* 18px;
    }
  }

  &__content__wrapper {
    @include flex(center, center, column);
    @include for-tablet {
      @include flex(center, center, row);
      flex-wrap: wrap;
    }
  }
  &__content__box {
    margin: 0 auto;
    max-width: 90%;
    @include flex(space-between, center, column);
    &:not(:last-child) {
      margin-bottom: 2.25em; //* 45px;
    }
    @include for-tablet {
      margin-bottom: 2.25em; //* 45px;
      max-width: 43%;
    }
    @include for-desktop {
      margin-bottom: 2.25em; //* 45px;
      max-width: 26%;
    }
  }
  &__text {
    display: block;
    @include second-font-italic700;
    font-size: 1em; //*16px;
    line-height: 1.5em; //*24px;
    color: $tc-light;
    padding-top: 1.5rem; //*30px;
  }
  &__bottom__text {
    margin: 0 auto;
    display: block;
    width: 78%; //*251px;
    @include second-font-italic700;
    font-size: 0.875em; //*14px;
    line-height: 1.5em; //*21px;
    color: #a291a5;
    padding: 1.85rem 0 0.8rem 0;
    @include for-tablet {
      padding: 3.35rem 0 0.5rem 0;
    }
    @include for-desktop {
      padding: 5.95rem 0 0.5rem 0;
    }
  }
  &__bottom__text::after {
    display: block;
    margin: 0 auto;
    content: "";
    width: 76%; //*245px;
    height: 0.1rem; //*2px;
    background-color: #645766;
    margin-top: 1.1rem; //*22px;
    @include for-tablet {
      margin-top: 0.95rem; //* 19px;
    }
  }
}
