.button_header {
  background-color: $tc-dark;
  @include basic-font700;
  border-radius: 2rem;
  color: $tc-light;
  border: none;
  &:hover {
    background-color: $tc-light;
    color: $tc-dark;
  }
}
.pricing__content__btn {
  background-color: #ffffff;
  @include basic-font700;
  font-size: 1em;
  background: rgba(255, 255, 255, 0.15);
  mix-blend-mode: normal;
  justify-content: center;
  color: #ffffff;
  padding: 0.75rem 1.85rem;
  text-align: center;
  text-transform: uppercase;
  border-radius: 25px;
  border-style: none;
  margin: auto;
  margin-bottom: 0;
  margin-top: 1rem;
  &-active {
    margin-top: 4rem;
    margin-bottom: 1rem;
  }
}
