@import "./mixins";
@import "./variables";

.features {
  padding-top: 2rem;
  width: 100%;

  &__title {
    padding: 0 2rem;
    display: flex;
    font-size: 2em;
    line-height: 1.1875em;
    justify-content: center;
    color: #8d81ac;
    @media screen and (min-width: 993px) {
      display: none;
    }
  }
  &__title-image {
    display: none;
    @media screen and (min-width: 993px) {
      position: absolute;
      left: 630px;
      right: 0;
      padding: 0 2rem;
      display: flex;
      font-size: 2em;
      line-height: 1.1875em;
      justify-content: center;
      color: #8d81ac;
    }
  }
}
.features__content {
  @include flex(center, center, row);
  &__wrapper {
    padding: 3.5rem 1.5rem 2.5rem 1.5rem;
    @media screen and (min-width: 993px) {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      background: #f4f4f4;
    }
    &__wrapper-box {
      @media screen and (min-width: 993px) {
        display: flex;
        flex-direction: column;
      }
    }
  }

  &__box {
    @include flex(center, center, column);
    margin: auto;

    @media screen and (min-width: 481px) {
      @include flex(center, center, row);
      max-width: 992px;
    }
  }
  &__text-box {
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 481px) {
      width: 80%;
      align-items: flex-start;
      margin-left: auto;
    }
    @media screen and (min-width: 993px) {
      max-width: 70%;
    }
  }
  &__icon {
    @include flex(center, center, row);
    align-items: center;
    padding: 1.25rem 0 2rem 0;
    @media screen and (min-width: 993px) {
      margin-left: 2.5rem;
    }
  }
  &__title {
    @include flex(center, center, row);
    color: #323232;
    padding-bottom: 0.7rem;
    font-size: 1em;
    line-height: 1.31em;
    @media screen and (min-width: 481px) {
      padding-bottom: 0.7rem;
      text-align: left;
      color: #323232;
    }
  }
  &__text {
    @include flex(center, center, row);
    font-size: 0.875em;
    line-height: 1.5em;
    text-align: center;
    padding: 0 0.5rem;
    font-size: 0.875em;
    line-height: 1.5em;
    color: #848e97;
    @media screen and (min-width: 481px) {
      display: flex;
      text-align: left;
      justify-content: flex-start;
      padding: 0;
    }
  }
  &__image {
    padding-top: 3.2rem;
    padding-left: 1.5rem;
    width: 100%;
    overflow: hidden;
  }
}
