@import "./mixins";
@import "./variables";
@import "./buttons";

.container__header {
  background-image: url(./img/bg_header.png);
  // background-image: url(.././public/favicon.ico);

  position: relative;
  background-position: center;
  background-size: cover;
}

.header-topmenu {
  position: relative;
  position: fixed;
  width: 100%;
  z-index: 3;
  @include flex(space-between, center, row);
  padding: 1.6rem 0;
  background-color: #27262a;

  @include for-tablet {
    position: unset;
    @include flex(space-between, center, row);
    flex-wrap: wrap;
    padding: 1.6rem 0 0 0;
    // padding: convert-rem(32) 0 0 0;
  }
  @include for-desktop {
    width: 100%;
    flex-wrap: nowrap;
    background-color: unset;
  }

  &__logo {
    @include flex(center, center, row);
  }
  &__logo__link {
    @include flex(center, center, row);
    text-decoration: none;
  }
  &__logo__icon {
    width: 2.15rem;
    height: 2.15rem;
    margin-left: 0.75rem;
    background-image: url(./img/Logo_header.svg);

    background-repeat: no-repeat;
    background-size: contain;
    @include for-tablet {
      margin-left: 1rem;
      &:hover {
        background-image: url(./img/logo_hover1.svg);
      }
    }
  }

  &__logo__text {
    display: none;
    @include for-tablet {
      display: block;
      @include second-font700;
      padding-left: 0.85rem;
      text-transform: uppercase;
      color: $tc-dark;
      font-size: 1.5em; //* 24px
      line-height: 0.66em; //*16px
      &:hover {
        color: $tc-light;
      }
    }
  }
  &__button {
    font-size: 0.9375em; //*15px;
    padding: 11px 28px;
    margin-right: 2rem;
    @include for-tablet {
      font-size: 1em; //*16px;
      line-height: 1em; //*16px;
      padding: 0.55rem 1.9rem;
      margin-right: 1rem;
    }
    @include for-desktop {
      max-width: 1200px;
      font-size: 1em; //*16px;
      line-height: 1.0625em; //*17px;
      padding: 0.55rem 1.9rem;
      width: 9.25rem;
      &_order_last {
        order: 3;
      }
    }
  }

  &__burger__wrapper {
    position: absolute;
    top: 2.25rem;
    right: 0;
  }

  &__burger {
    position: relative;
    width: 1.3rem; //*26px
    height: 1rem; //*26px
    margin-right: 0.75rem;
    cursor: pointer;
    @include for-tablet {
      display: none;
    }
  }
  &__burger__line {
    position: absolute;
    top: 0.5em;
    left: 0;
    width: 100%;
    height: 0.15rem;
    background-color: $tc-light;
    border-radius: 0.25rem;
  }
  &__burger__line::before {
    position: absolute;
    content: "";
    display: block;
    top: -0.5em;
    right: 0;
    width: 58%;
    height: 0.15rem;
    border-radius: 0.25rem;
    background-color: $tc-light;
  }

  &__burger__line::after {
    position: absolute;
    content: "";
    display: block;
    top: 0.5em;
    width: 100%;
    height: 0.15rem;
    border-radius: 0.25rem;
    background-color: $tc-light;
  }

  &__burger-active {
    background: linear-gradient(
        45deg,
        transparent 45%,
        #ffffff 46%,
        #ffffff 55%,
        transparent 56%
      ),
      linear-gradient(
        -45deg,
        transparent 45%,
        #ffffff 46%,
        #ffffff 55%,
        transparent 56%
      );
  }

  &__burger__line-hide {
    opacity: 0;
  }

  &__nav {
    @include for-tablet {
      @include flex(center, center, row);
      width: 100%;
    }

    @include for-desktop {
      max-width: 1200px;
      margin: 0 auto;
      // @include flex-center;
    }
  }

  &__list {
    display: none;
    @include for-tablet {
      @include flex(center, center, row);
      width: 100%;
    }

    @include for-desktop {
      @include flex(flex-end, center, row);
    }
  }

  &__list-active {
    position: absolute;
    background: #333333;
    top: 5.35rem; //*107px
    left: 0.675rem; //*13.5px;
    height: 18.9rem; //*378px;
    width: 91.5%;
    display: block;
    z-index: 100;

    @include for-tablet {
      display: none;
    }

    @include for-desktop {
      display: none;
    }
  }

  &__item {
    position: relative;
    padding: 1.45rem 0 1.55rem 1.75rem;
    border-bottom: 3px solid #3b3b3b;

    @include for-tablet {
      border: unset;
      padding: 1.3rem 0 0.9rem 0;
      &:not(:last-child) {
        padding-right: 6.2%;
      }
    }

    @include for-desktop {
      &:nth-child(4) {
        padding-right: 6.2%;
      }
    }
  }

  &__link {
    @include basic-font400;
    font-size: 1.625em; //*26px
    line-height: 1em; //*26px
    text-decoration: none;
    color: $tc-light;

    @include for-tablet {
      @include basic-font700;
      color: $tc-dark;
      font-size: 1em; //*16px
      line-height: 1.125em; //*18px
      &:hover {
        color: $tc-light;
      }
    }
    @include for-desktop {
      font-size: 1em; //*16px
      line-height: 1.0625em; //*17px
    }
  }

  &__link:hover {
    color: $tc-dark;
  }

  &__link:hover::before {
    position: absolute;
    content: "";

    top: 0.95rem;
    left: 0;
    width: 0.4rem;
    height: 2.65rem;
    background-color: $tc-dark;

    @include for-tablet {
      display: none;
    }
  }
}

.header-content {
  margin: 0 auto;
  @include flex(center, center, column);
  &__title {
    font-size: 3em; //*48px
    color: #ffffff;
    padding-top: 7.75rem; //*50px;

    @include for-tablet {
      padding-top: 3.35rem; //*69px;
      font-size: 4.5em; //*72px
    }

    @include for-desktop {
      max-width: 1200px;
      font-size: 5.125em; //*82px;
    }
  }
  &__subtitle {
    @include second-font400;
    font-size: 1.125em; //*18px;
    line-height: 1.33em; //*24px;
    color: $tc-dark;
    padding: 0.95rem 0.55rem 0.7rem 0.55rem;

    @include for-tablet {
      font-size: 1.5em; //*24px;
      line-height: 1em; //*24px;
    }

    @include for-desktop {
      max-width: 1200px;
      font-size: 1.875em; //*30px;
      line-height: 1em; //*30px;
    }
  }
  &__text {
    @include basic-font400;
    font-size: 0.875em; //*14px;
    text-transform: uppercase;
    color: #848e97;
    padding-bottom: 19.7rem; //*394px

    @include for-tablet {
      padding-bottom: 21.95rem; //*439px
    }

    @include for-desktop {
      max-width: 1200px;
      font-size: 1em; //*16px;
      padding-bottom: 21.3rem; //*426px
    }
  }
  &__button {
    position: absolute;
    bottom: -23px;
    font-size: 1.125em; //*18px;
    line-height: 1.1em; //*20px
    padding: 0.65rem 2.1rem;
    z-index: 1;

    @include for-tablet {
      font-size: 1.3125em; //*21px;
      line-height: 1.095em; //*23px;
      padding: 1.15rem 3.75rem;
    }

    @include for-desktop {
      max-width: 1200px;
      font-size: 1.3125em; //*21px;
      line-height: 1.047622rem; //*//*22px;
    }
  }
  &__text__bottom {
    position: absolute;
    bottom: -2.4rem;
    @include basic-font400;
    font-size: 0.875em; //*14px;
    color: #848e97;
    z-index: 1;
  }
}
