.present_text {
  text-align: center;

  margin: auto;
  padding-top: 4.4rem;

  &__tittle {
    color: $tc-dark;
    @include font-montserrat700;
    padding: 0 0.5rem;
    font-size: 1.625em;
    line-height: 1.92em;
    text-transform: uppercase;
    padding-bottom: 1.85rem;
  }
  &__text {
    @include second-font-italic400;
    color: $tc-black;
    display: block;
    padding: 0 2rem;
    margin: 0.5rem auto;
    font-size: 0.875em;
    line-height: 1.43em;
    text-align: center;
  }
  &__wrapper {
    box-sizing: border-box;
    padding: 1.5rem 0;
    max-width: 320px;
    width: 100%;
    margin: auto;
    @media screen and (min-width: 481px) {
      max-width: 480px;
    }
  }
}
.present_text-btns {
  margin: 0.5rem auto;
  border-radius: 2px;
  justify-content: center;
  text-align: center;
  border: 1px solid #d6d6d6;

  &__box {
    cursor: pointer;
    @include font-montserrat700;
    border-right: 1px solid #d6d6d6;
    color: $tc-black;
    padding: 0.4rem 0.5rem;
    font-size: 0.75em;
    background: #f3f3f3;
    text-decoration: none;
  }
  &__icon {
    vertical-align: middle;
  }

  &__link_text {
    margin-left: 0.3rem;
    vertical-align: middle;
  }

  &__link_count {
    cursor: pointer;
    @include font-montserrat700;
    font-size: 0.75em;
    padding: 0.4rem 0.5rem;
    color: $tc-black;
    text-decoration: none;
  }
}
