@import "./header";
@import "./variables";
@import "./mixins";
@import "./aboutfork";
@import "./buttons";
@import "./present_btns";
@import "./features";
@import "./pricing";

.container {
  min-width: 320px;
  font-size: 16px;

  @media screen and (min-width: 481px) {
    margin: 0 auto;
  }

  @media screen and (min-width: 993px) {
    max-width: 1200px;
    margin: 0 auto;
  }
}

body.lock {
  overflow: hidden;
}

.resp-img {
  width: 100%;
  height: auto;
  // max-width: 500px; //* тут можно указать необходимый размер и переести в % и перенести родителю изображения
}

.text_center {
  text-align: center;
}
.section-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0px;
}
.flex-between-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.flex-wrapper-center {
  justify-content: center;
}
