@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
}

.container {
  max-width: 1900px;
  padding: 0;
  margin: 0 auto;
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #313131;
}
.main-menu {
  display: inline-block;
  padding: 0;
  margin: 0 auto;
}
.nav li {
  display: inline-block;
  text-align: center;
}
.nav--link {
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0px;
  color: #ffffff;
  padding: 35px;
  /* list-style: none; */
}
.logo {
  display: flex;
  align-items: center;
}
.icon {
  padding: 22px 27px;
}
.logo-text {
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
  text-align: center;
}
.search {
  padding: 26px;
  background-color: #000000;
}
.nav-hover:hover {
  color: #14b9d5;
}
.container-latest-news {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/header-bg.jpeg);
  background-position: center;
}
.latest-news-title {
  font-size: 27px;
  font-weight: 700;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 164px;
}
.button {
  text-align: center;
  margin-top: 44px;
  margin-bottom: 74px;
}
.button-Subscribe,
.button-Articles {
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0px;
  color: #ffffff;
  border-radius: 4px;
  border: 0;
}
.button-Subscribe {
  padding: 15px 19px;
  background-color: #89ca62;
  margin-right: 10px;
}
.button-Articles {
  padding: 15px 30px;
  background-color: #14b9d5;
  margin-left: 10px;
}
.post-title {
  display: flex;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  justify-content: center;
  color: #18b4cf;
  padding-top: 49px;
  padding-bottom: 52px;
}
.container-posts {
  padding: 0;
  margin: 0 auto;
  display: flex;
  width: 1170px;
  max-height: 824px;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.post {
  display: inline-block;
  width: 370px;
  margin-top: 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
  color: #353a3d;
}
.post1,
.post2,
.post3,
.post4 {
  margin-right: 30px;
}
.container-clients {
  width: 100%;
  margin-top: 74px;
  background-image: url(../img/parallax-bg.jpeg);
  background-position: center;
}
.client-title {
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  padding-top: 106px;
}
.line {
  padding: 0;
  margin: 0 auto;
  width: 60px;
  height: 10px;
  text-align: center;
  margin-top: 87px;
}
.line-item {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #18b4cf;
}
.client-name {
  padding: 0;
  margin: 0 auto;
  display: grid;
  width: 880px;
  grid-template-columns: 2fr 1fr 2fr 1fr;
  justify-items: center;
  align-items: center;
  padding-top: 107px;
  padding-bottom: 191px;
}
.top-rated-title,
.hot-news-title {
  padding: 0;
  margin: 0 auto;
  display: grid;
  width: 100%;
  font-weight: bold;
  font-size: 27px;
  line-height: 37px;
  text-transform: uppercase;
  justify-content: center;
  color: #18b4cf;
  padding-top: 49px;
  padding-bottom: 52px;
}
.top-rated-content {
  padding: 0;
  margin: 0 auto;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, 1fr);
  justify-items: center;
}
.container-hot-news {
  padding: 0;
  margin: 0 auto;
  display: grid;
  width: 1170px;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}
.news1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-start: 1;
  grid-column-end: 4;
}
.news2 {
  grid-column-start: 4;
  grid-column-end: 5;
  padding-bottom: 27px;
}
.news3 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-top: 44px;
}
.news4 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  padding-top: 44px;
  padding-left: 64px;
}
.news5 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  padding-top: 44px;
}
.news6 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  padding-top: 44px;
  padding-left: 64px;
}
.news7 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  padding-top: 44px;
}
.news8 {
  display: grid;
  padding-top: 44px;
  padding-left: 24px;
  grid-template-columns: 1fr 1fr;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 5;
  padding-left: 64px;
}
.news-content1,
.news-content2 {
  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  color: #353a3d;
  padding-right: 24px;
  padding-left: 24px;
  text-align: right;
  background: rgba(0, 0, 0, 0.0001);
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.news-content2 {
  padding-top: 30px;
}
.container-footer {
  display: flex;
  padding: 0;
  margin: 0 auto;
  background: #000000;
  align-items: center;
  margin-top: 77px;
  justify-content: space-between;
}
.footer-content {
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  color: #ffffff;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer-content {
  padding-left: 367px;
}
.footer-logo {
  padding-right: 367px;
}
