@import "./mixins";

.top-menu {
  &__inner {
    position: relative;
    height: 37px;
    margin-top: 25px;
  }
  &__burgerwrapper {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    width: 37px;
    height: 37px;
    background-color: black;
    @include flex-center;
    @media screen and (min-width: 768px) {
      max-width: 690px;
      opacity: 0;
    }
  }
  &__burger {
    width: 17px;
    height: 17px;
    cursor: pointer;
    background: linear-gradient(
      to bottom,
      #ffffff 20%,
      transparent 21%,
      transparent 40%,
      #ffffff 41%,
      #ffffff 60%,
      transparent 61%,
      transparent 80%,
      #ffffff 81%
    );
  }

  &__burger-active {
    background: linear-gradient(
        45deg,
        transparent 45%,
        #ffffff 46%,
        #ffffff 55%,
        transparent 56%
      ),
      linear-gradient(
        -45deg,
        transparent 45%,
        #ffffff 46%,
        #ffffff 55%,
        transparent 56%
      );
  }

  &__list {
    padding-left: 13px;
    display: none;
    @media screen and (min-width: 768px) {
      max-width: 690px;
      @include flex-center;
      justify-content: space-between;
      padding: 0px 100px;
    }
    @media screen and (min-width: 1200px) {
      max-width: 1170px;
      margin: 0 auto;
      @include flex-center;
      justify-content: space-between;
      padding: 0px 215px;
    }
  }

  &__list-active {
    position: absolute;
    background: #f5f5f5;
    top: 37px;
    right: 0;
    width: 182px;
    display: block;

    @media screen and (min-width: 768px) {
      display: none;
    }

    @media screen and (min-width: 1200px) {
      display: none;
    }
  }

  &__item {
    font-size: 11px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 1.1px;
    text-transform: uppercase;
    list-style-type: none;
  }

  &__item:active {
    background-color: #e5e5e5;
  }

  &__link {
    text-decoration: none;
    color: #4e4e4e;
  }

  &__link:hover {
    color: #57a4a4;
  }
}
