@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
}
.nav {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.nav-link {
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2.7px;
  color: #ff0000;
  display: flex;
  align-items: center;
}
.nav-item {
  margin-right: 72px;
}
.content-title {
  font-weight: bold;
  line-height: 27px;
  text-align: center;
  letter-spacing: 3.3px;
  margin-top: 48px;
  margin-bottom: 38px;
  color: #373737;
}
.main-photo {
  width: 100%;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 2.4px;
  margin-top: 28px;
  margin-bottom: 0px;
  margin-left: 67px;
  margin-right: 67px;
  color: #373737;
}
.start-button {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.8px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ff0000;
  display: inline-block;
  border: none;
  color: white;
  box-sizing: border-box;
  width: 191px;
  height: 51px;
  border-radius: 4px;
}
.button {
  text-align: center;
  margin-top: 66px;
}

.copyright {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2.4px;
  line-height: 20px;
  text-decoration: none;
  color: #373737;
  text-align: right;
  margin-right: 103px;
  margin-top: 82px;
  margin-bottom: 29px;
}
