@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

body {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  color: #ffffff;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(../img/main_bg.jpg);
  background-size: cover;
}
.header {
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.journey {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  text-decoration: none;
  color: #ffffff;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 79px;
}
.journey:hover {
  color: #236d47;
  transition: all 0.9s linear;
}
.action {
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-icon {
  display: flex;
  align-items: center;
}
.icon-calendar,
.icon-mail,
.icon-compass {
  padding-right: 25px;
}
.icon:hover {
  fill: #236d47;
  transition: all 0.9s linear;
}
.box-icon::after {
  content: "";
  width: 1px;
  height: 19px;
  opacity: 0.5;
  background: rgba(255, 255, 255, 0.9);
}
.header-login,
.header-signup {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
}
.header-signup {
  padding-right: 79px;
}
.header-login {
  padding-right: 4px;
  padding-left: 25px;
}
.header-login a,
.header-signup a {
  color: #ffffff;
  text-decoration: none;
}
.header-login a:hover {
  color: #236d47;
  transition: all 0.9s linear;
}
.header-login:hover :nth-child(1) {
  opacity: 0.41;
  transition: all 0.9s linear;
}

.header-signup a:hover {
  color: #236d47;
  transition: all 0.9s linear;
}

.header-signup:hover :nth-child(1) {
  opacity: 0.41;
  transition: all 0.9s linear;
}

.container-main {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  width: 444px;
  position: absolute;
  justify-content: center;
  align-items: flex-start;
  background-color: #ffffff;
}

.main::after {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  top: 29px;
  background: #3cb878;
}
.form {
  width: 324px;
  padding-top: 31px;
}
.form-top-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-signup {
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  color: #434343;
}
.form-login {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #3cb878;
  text-decoration: none;
}
.form-login:hover {
  color: #01813f;
  text-decoration-line: underline;
  transition: all 0.9s linear;
}
.top-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.facebook-button,
.google-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #305db8;
  border: 0;
  padding: 0;
  border-radius: 4px;
}
.fb-logo {
  padding: 12px 18px 12px 17px;
}
.fb-line {
  border-left: 1px solid #0a162f;
  height: 28px;
  opacity: 0.1;
  padding-right: 18px;
}

.fb-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  padding-right: 22px;
}
.google-button {
  background: #df4a32;
}
.google-logo {
  padding: 15px 7px 14px 12px;
}
.google-line {
  border-left: 1px solid #2b0d09;
  height: 28px;
  opacity: 0.1;
  padding-right: 30px;
}
.google-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  padding-right: 27px;
}
.facebook-button:hover {
  background: #022263;
  transition: all 0.9s linear;
}
.google-button:hover {
  background: #ab1f09;
  transition: all 0.9s linear;
}
.or {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
  position: absolute;
  background-color: #ffffff;
  padding-left: 5px;
  padding-right: 5px;
}
.box-or {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  margin-top: 31px;
  margin-bottom: 14px;
}
.box-or::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #f2f2f2;
  position: absolute;
  top: 50%;
}
.registration-data {
  width: 100%;
  margin: 0 auto;
}
.data {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  margin-bottom: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  width: 100%;
  box-sizing: border-box;
}
.data:focus {
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
::placeholder {
  color: #bebebe;
}
.checkbox {
  display: none;
}
.ckeckbox-unreal {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #f2f2f2;
}
.checkbox-unreal-icon {
  width: 20px;
  height: 20px;
  padding-top: 2px;
  padding-left: 2px;
  opacity: 0;
}
.checkbox:checked ~ .ckeckbox-unreal .checkbox-unreal-icon {
  opacity: 1;
}
.terms-condition {
  display: flex;
  align-items: center;
}
.terms-condition span {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #434343;
}
.terms-condition a {
  color: #3cb878;
}
.terms-condition a:hover {
  color: #01813f;
  text-decoration-line: underline;
}
.condition-text {
  display: inline-block;
}
.create-account {
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  font-family: Ubuntu;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 38px;
}
.create-account:hover {
  background: #01813f;
  transition: all 0.9s linear;
}
label {
  display: inline-block;
}
label a {
  text-decoration: none;
}
