@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
.container {
  width: 1280px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.container-logo {
  padding: 0;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  width: 100%;
}
.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  line-height: 94px;
  text-decoration: none;
  width: 334px;
  height: 79px;
  text-align: center;
  margin-top: 61px;
  margin-bottom: 38px;
  color: #000000;
}
.container-main-menu {
  padding: 0;
  margin: 0 auto;
  width: 1280px;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #35444f;
}
.nav-main-menu {
  display: flex;
  justify-content: center;
}
.nav-link-main {
  font-family: "Roboto";
  font-size: 24px;
  line-height: 28px;
  font-weight: normal;
  text-decoration: none;
  color: #ffffff;
  border-left: 1px solid #ffffff;
  padding-top: 26px;
  padding-bottom: 19px;
  padding-left: 40px;
  padding-right: 40px;
}
.nav-link-main-hover:hover {
  background-color: #222f3a;
}
.blue-logo {
  color: cornflowerblue;
}
.container-main {
  padding: 0;
  margin: 0 auto;
  width: 885px;
  display: inline-block;
  margin-top: 50px;
}
.main-pfoto {
  padding: 0;
  margin: 0 auto;
  width: 100%;
  height: 529px;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px solid #000000;
}
.photo {
  padding: 0;
  margin: 0 auto;
  width: 320px;
  height: 381px;
  overflow: hidden;
}
.conteiner-content {
  padding: 0;
  margin: 0 auto;
  width: 885px;
  justify-content: center;
  align-items: center;
  margin-top: 37px;
  font-family: "Roboto";
  font-size: 18px;
  line-height: 24px;
  color: #2c2c2c;
  text-align: left;
}
.container-left-menu {
  width: 344px;
  height: 399px;
  display: inline-block;
  margin-top: 50px;
  border: 1px solid #000000;
}
.nav-left-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 344px;
  height: 399px;
  padding-top: 26px;
  padding-bottom: 26px;
  padding-left: 44px;
}
.nav-link-left {
  font-family: "Roboto";
  font-size: 27px;
  line-height: 27px;
  text-decoration: none;
  color: #495863;
}
.nav-link-left-hover {
  text-align: left;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  -o-transition: -o-transform 0.3s ease-in;
  -moz-transition: -moz-transform 0.3s ease-in;
  -ms-transition: -ms-transform 0.3s ease-in;
}
.nav-link-left-hover:hover {
  -ms-transform: translate(20px);
  -moz-transform: translate(20px);
  -webkit-transform: translate(20px);
  -o-transform: translate(20px);
  cursor: pointer;
}
.container-footer {
  padding: 0;
  margin: 0 auto;
  width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(99, 105, 110, 0.48);
  margin-top: 54px;
}
.nav-footer-menu {
  width: 928px;
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
}
.nav-link-footer {
  font-family: "Roboto";
  font-size: 28px;
  line-height: 28px;
  font-weight: normal;
  text-decoration: none;
  color: #0c1927;
}
.container-copyright {
  padding: 0;
  margin: 0 auto;
  display: flex;
  height: 69px;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}
.copiright {
  padding: 0;
  margin: 0 auto;
  font-family: "Roboto";
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  color: #010101;
}
.nav-link-footer-hover:hover {
  color: #3181a6;
  display: table;
  border-bottom: 1px solid #3181a6;
  line-height: 59px;
}
.transform {
  transition: all 1s ease-out;
}
.transform:hover {
  transform: scale(1.2);
}
